# Marketing Analyse

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

marketing_campaign = pd.read_csv("marketing_campaign.csv", sep ='\t')

print(marketing_campaign)

         ID  Year_Birth   Education Marital_Status   Income  Kidhome  \
0      5524        1957  Graduation         Single  58138.0        0
1      2174        1954  Graduation         Single  46344.0        1
2      4141        1965  Graduation       Together  71613.0        0
3      6182        1984  Graduation       Together  26646.0        1
4      5324        1981         PhD        Married  58293.0        1
...     ...         ...         ...            ...      ...      ...
2235  10870        1967  Graduation        Married  61223.0        0
2236   4001        1946         PhD       Together  64014.0        2
2237   7270        1981  Graduation       Divorced  56981.0        0
2238   8235        1956      Master       Together  69245.0        0
2239   9405        1954         PhD        Married  52869.0        1

      Teenhome Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  \
0            0  04-09-2012       58       635  ...                  7
1            1  08-03-2014       38        11  ...                  5
2            0  21-08-2013       26       426  ...                  4
3            0  10-02-2014       26        11  ...                  6
4            0  19-01-2014       94       173  ...                  5
...        ...         ...      ...       ...  ...                ...
2235         1  13-06-2013       46       709  ...                  5
2236         1  10-06-2014       56       406  ...                  7
2237         0  25-01-2014       91       908  ...                  6
2238         1  24-01-2014        8       428  ...                  3
2239         1  15-10-2012       40        84  ...                  7

      AcceptedCmp3  AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  \
0                0             0             0             0             0
1                0             0             0             0             0
2                0             0             0             0             0
3                0             0             0             0             0
4                0             0             0             0             0
...            ...           ...           ...           ...           ...
2235             0             0             0             0             0
2236             0             0             0             1             0
2237             0             1             0             0             0
2238             0             0             0             0             0
2239             0             0             0             0             0

      Complain  Z_CostContact  Z_Revenue  Response
0            0              3         11         1
1            0              3         11         0
2            0              3         11         0
3            0              3         11         0
4            0              3         11         0
...        ...            ...        ...       ...
2235         0              3         11         0
2236         0              3         11         0
2237         0              3         11         0
2238         0              3         11         0
2239         0              3         11         1

[2240 rows x 29 columns]

In [2]:
marketing_campaign.columns = (marketing_campaign.columns
                .str.replace('(?<=[a-z])(?=[A-Z])', '_', regex=True)
                .str.lower()
             )
print(marketing_campaign)

         id  year_birth   education marital_status   income  kidhome  \
0      5524        1957  Graduation         Single  58138.0        0
1      2174        1954  Graduation         Single  46344.0        1
2      4141        1965  Graduation       Together  71613.0        0
3      6182        1984  Graduation       Together  26646.0        1
4      5324        1981         PhD        Married  58293.0        1
...     ...         ...         ...            ...      ...      ...
2235  10870        1967  Graduation        Married  61223.0        0
2236   4001        1946         PhD       Together  64014.0        2
2237   7270        1981  Graduation       Divorced  56981.0        0
2238   8235        1956      Master       Together  69245.0        0
2239   9405        1954         PhD        Married  52869.0        1

      teenhome dt_customer  recency  mnt_wines  ...  num_web_visits_month  \
0            0  04-09-2012       58        635  ...                     7
1            1  08-03-2014       38         11  ...                     5
2            0  21-08-2013       26        426  ...                     4
3            0  10-02-2014       26         11  ...                     6
4            0  19-01-2014       94        173  ...                     5
...        ...         ...      ...        ...  ...                   ...
2235         1  13-06-2013       46        709  ...                     5
2236         1  10-06-2014       56        406  ...                     7
2237         0  25-01-2014       91        908  ...                     6
2238         1  24-01-2014        8        428  ...                     3
2239         1  15-10-2012       40         84  ...                     7

      accepted_cmp3  accepted_cmp4  accepted_cmp5  accepted_cmp1  \
0                 0              0              0              0
1                 0              0              0              0
2                 0              0              0              0
3                 0              0              0              0
4                 0              0              0              0
...             ...            ...            ...            ...
2235              0              0              0              0
2236              0              0              0              1
2237              0              1              0              0
2238              0              0              0              0
2239              0              0              0              0

      accepted_cmp2  complain  z_cost_contact  z_revenue  response
0                 0         0               3         11         1
1                 0         0               3         11         0
2                 0         0               3         11         0
3                 0         0               3         11         0
4                 0         0               3         11         0
...             ...       ...             ...        ...       ...
2235              0         0               3         11         0
2236              0         0               3         11         0
2237              0         0               3         11         0
2238              0         0               3         11         0
2239              0         0               3         11         1

[2240 rows x 29 columns]

In [3]:
marketing_campaign.dropna(axis = 0)

,id,year_birth,education,marital_status,income,kidhome,teenhome,dt_customer,recency,mnt_wines,...,num_web_visits_month,accepted_cmp3,accepted_cmp4,accepted_cmp5,accepted_cmp1,accepted_cmp2,complain,z_cost_contact,z_revenue,response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [6]:
marketing_campaign["children_count"] = (marketing_campaign["kidhome"] + marketing_campaign["teenhome"])

marketing_campaign["num_total_purchases"] = (marketing_campaign["num_deals_purchases"] + marketing_campaign["num_web_purchases"] + marketing_campaign["num_catalog_purchases"])